.banner-image {
    width: 100%;
    max-height: 75vh;
}
@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.fade-out {
    animation: fade-out 0.5s forwards;
}
